<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<connections type="odi">
<connection>
<CONNECTION_NAME>local</CONNECTION_NAME>
<ODI_USERNAME>SUPERVISOR</ODI_USERNAME>
<ODI_PASSWORD>SUPERVISOR</ODI_PASSWORD>
<ODI_SCHEMA_USERNAME>DEV_ODI_REPO</ODI_SCHEMA_USERNAME>
<ODI_SCHEMA_PASSWORD>Admin123</ODI_SCHEMA_PASSWORD>
<ODI_DRIVER_NAME>oracle.jdbc.OracleDriver</ODI_DRIVER_NAME>
<ODI_DB_URL>jdbc:oracle:thin:@localhost:1521:orcl</ODI_DB_URL>
<ODI_WORKREP>WORKREP</ODI_WORKREP>
</connection>
<connection>
<CONNECTION_NAME>Local_ODI12c</CONNECTION_NAME>
<ODI_USERNAME>SUPERVISOR</ODI_USERNAME>
<ODI_PASSWORD>SUNOPSIS</ODI_PASSWORD>
<ODI_SCHEMA_USERNAME>DEV1_ODI_REPO</ODI_SCHEMA_USERNAME>
<ODI_SCHEMA_PASSWORD>Admin123</ODI_SCHEMA_PASSWORD>
<ODI_DRIVER_NAME>oracle.jdbc.OracleDriver</ODI_DRIVER_NAME>
<ODI_DB_URL>jdbc:oracle:thin:@localhost:1521/orcl</ODI_DB_URL>
<ODI_WORKREP>WORKREP</ODI_WORKREP>
</connection>
<connection>
<CONNECTION_NAME>ODI Movie Demo</CONNECTION_NAME>
<ODI_USERNAME>SUPERVISOR</ODI_USERNAME>
<ODI_PASSWORD>welcome1</ODI_PASSWORD>
<ODI_SCHEMA_USERNAME>﻿dev_odi_repo</ODI_SCHEMA_USERNAME>
<ODI_SCHEMA_PASSWORD>welcome1</ODI_SCHEMA_PASSWORD>
<ODI_DRIVER_NAME>oracle.jdbc.OracleDriver</ODI_DRIVER_NAME>
<ODI_DB_URL>﻿jdbc:oracle:thin:@bigdatalite:1521/orcl</ODI_DB_URL>
<ODI_WORKREP>﻿WORKREP1</ODI_WORKREP>
</connection>
</connections>
</config>
